<!DOCTYPE html>
<html lang="en">
<head>
{% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' type='text/css' href="{% static 'about.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    
{% include "navbar.html" %}
    
<div name="leganza"style="width:20%; margin-left: 65%;color:#5f5f5f; margin-top:5%">
    <span >About </span><span style="font-size:2rem">&nbsp leGANza</span>
</div>
<div style=" margin-left:5%; margin-top:5%; margin-bottom:10%">
<img src="{% static 'leganzaLogo.png'%}" style="width:20%;"></img>
<div style="display:flex; justify-content:center ;width:60%;;color:#5f5f5f; font-size:1.2rem; margin-left:20%;margin-top:-3%">
    광주 인공지능 사관학교 1기 정보경 팀장, 김선일, 방재영, 송승원 으로 구성되어 있으며,
    MuseGAN, Django & Flask, CARES-Net, NLP등의 기술을 학습 및 사용하였습니다.
    <br>
    광주 인공지능 사관학교 1기 정보경 팀장, 김선일, 방재영, 송승원 으로 구성되어 있으며,
    MuseGAN, Django & Flask, CARES-Net, NLP등의 기술을 학습 및 사용하였습니다.
    <br>
    광주 인공지능 사관학교 1기 정보경 팀장, 김선일, 방재영, 송승원 으로 구성되어 있으며,
    MuseGAN, Django & Flask, CARES-Net, NLP등의 기술을 학습 및 사용하였습니다.
 </div>
</div>


<div name="drama" style="width:20%; margin-left: 65%;color:#5f5f5f; margin-top:20%">
    <span >About </span><span style="font-size:2rem">&nbsp DRAMA</span>
</div>
<div style="clear:both; margin-left:5%; margin-top:5%; margin-bottom:30%">
<img src="{% static 'dramaLogo.png'%}" style="width:20%;"></img>
<div style="display:flex; justify-content:center ;width:60%;;color:#5f5f5f; font-size:1.2rem; margin-left:20%;margin-top:3%">
    광주 인공지능 사관학교 1기 정보경 팀장, 김선일, 방재영, 송승원 으로 구성되어 있으며,
    MuseGAN, Django & Flask, CARES-Net, NLP등의 기술을 학습 및 사용하였습니다.
    <br>
    광주 인공지능 사관학교 1기 정보경 팀장, 김선일, 방재영, 송승원 으로 구성되어 있으며,
    MuseGAN, Django & Flask, CARES-Net, NLP등의 기술을 학습 및 사용하였습니다.
    <br>
    광주 인공지능 사관학교 1기 정보경 팀장, 김선일, 방재영, 송승원 으로 구성되어 있으며,
    MuseGAN, Django & Flask, CARES-Net, NLP등의 기술을 학습 및 사용하였습니다.
 </div>
</div>  

</body>
</html>

<script>
   
</script>