<!DOCTYPE html>
<html lang="en">
<head>
{% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' type='text/css' href="{% static 'calc.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    
{% include "navbar.html" %}
    <div class="calcCenter">
    
        {% comment %} <button class="uploadBtn">동영상 선택</button> {% endcomment %}
        <img id='uploadBtn' src="{%static 'upload.png'%}"></img>
        <video id="uploadVideo" loop  style="width:17%;visibility:hidden;position:fixed;cursor: pointer;"onclick="triggerUploadFile()">
            <source src="{% static 'upload.mp4'%}" type="video/mp4">
        </video>
        <video id="loadingVideo" loop autoplay style="width:20%;display:none;position:fixed">
            <source src="{% static 'loading.mp4'%}" type="video/mp4">
        </video>


    </div>
    <form method="POST" id="resultForm" style="display:none" action="/result/"  enctype="multipart/form-data">
    {% csrf_token %}
        <input id="uploadFile" type="file" name="video" accept="video/mp4,video/mkv, video/x-m4v,video/*", onchange="fileSelect()" style="display:none;">

    </form>
</body>
</html>

<script>
    let uploadBtn = document.getElementById("uploadBtn");
    let uploadVideo = document.getElementById("uploadVideo");
    uploadBtn.onmouseover = function(){
        uploadBtn.style.visibility = 'hidden'
        uploadVideo.style.visibility = 'visible'
        uploadVideo.play()
    }
    uploadVideo.onmouseout = function(){
        uploadBtn.style.visibility = 'visible'
        uploadVideo.style.visibility = 'hidden'
        uploadVideo.pause();
    }
function fileSelect(){
    let inputFile = document.getElementById("uploadFile");
    let loadingVideo = document.getElementById("loadingVideo");

    let files = inputFile.files;
    uploadBtn.style.display = 'none'
    loadingVideo.style.display = 'block'
    let logoHeight = document.getElementsByClassName("center")[0].offsetHeight;

    window.scrollTo({top:logoHeight, behavior:'smooth'});   

    let form = document.getElementById("resultForm");
    form.submit();
}
function triggerUploadFile(){
    let inputFile = document.getElementById("uploadFile");
    uploadVideo.pause();
    loadingVideo.play();
    inputFile.click();
}
</script>