<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' type='text/css' href="{% static 'navbar.css' %}">
</head>
<body>
<ul>
  <li><a href="{% url 'main' %}">Main</a></li>
  <li><a href="{% url 'calc' %}">Calc</a></li>
  <li><a href="{% url 'result' %}">Result</a></li>
  <li><a href="{% url 'about' %}">About</a></li>
</ul>
</body>
</html>