.justify-between{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#downloadBtn {
  background-color: dodgerblue;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  font-size: 17px;
}

#downloadBtn:hover {
  background-color: rgb(17, 0, 255);
  color: white;
  }

.center{
  margin-top: 1;
  display: flex;
  flex-direction : column;
  align-items: center;
}
.centerRes{
  margin-top : 5%;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#myVideo {
  width: 50vw;
  /* min-height: 20vw; */
}

/* Add some content at the bottom of the video/page */
#content {
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  height: 20px;
  width: 50vw;
}

/* Style the button used to pause/play the video */
#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}

#spectrum{
  position: relative;
  display: flex;
  justify-content: stretch ;
  width: 50vw;  
  z-index: 999;
  border: 1px solid white;

}

#spectrum> div{
  flex: 1;
  height: 20px;
}

#videoLocator{
  position: absolute;
  border: solid 1px;
  width: 5px;
  height: 100%;
  top: -1px;  
  left: 0%
}
#labelBox{
  width:50vw;
  display: flex;
  justify-content: space-between;
  border: 2px solid white;;
}

.Anger{
  background-color: red;
}
.Disgust{
  background-color: greenyellow;
}
.Fear{
  background-color: gray;
}
.Happy{
  background-color: hotpink;
}
.Neutral{
  background-color: white;
}
.Sad{
  background-color: purple;
}
.Surprise{
  background-color: orangered;
}
label{
  padding-left: 5px;
  color: white;

}
.label{
  display: flex;

}

.label>div{
  width: 10px;
}